#imag{
    height: 60%;
    width: 60%;
    padding-left: 10%;
   
}
#name{
    padding-left: 30%;
}
#nat{
    padding-left: 10%;
}
#pokemonId{
    padding-left: 30%;
}
#title{
    padding-left: 20%;
}
#desc{
    padding-left: 10%;
}
