#app{
	background: url("pokedex.png") no-repeat center center fixed;
	background-size: auto 100%;
	margin: auto;
	height: 100%;
	display: flex;
	aspect-ratio: 8/6;
	border: 2px solid black;

}

#left-box{
	position: relative;
	top: 25.3%;
	left: 2.6%;
	height: 56.5%;
	width: 41.45%;
	overflow: scroll;
}

/* #left-box:hover{
	outline: 5px solid lime;
} */

#right-box{
	position: relative;
	top: 26%;
	left: 17.5%;
	height: 62.75%;
	width: 37.7%;
	overflow: scroll;
}

 /* #right-box:hover{
	 outline: 5px solid lime;
}  */

#navbar{
	display: flex;
	height: 10%;
	justify-content: space-evenly;
	font-size: 1.5em;
	font-weight: 700;
	margin: 5px;
	
}

#login-button{
	text-align: center;
	vertical-align: middle;
	line-height: center;
	padding: 1% 2% 0 2%;
}

#login-button:hover{
	outline: 2px solid black;
	cursor: pointer;
}

#login-form{
	text-align: center;
	height: 100%;
	width: 100%;
	padding: 10px;
}

body{
	overflow: hidden;
}